body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0 5rem;
}

.navbar-container-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 3rem;
  font-size: 20px;
  font-weight: bold;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
}

.navbar-links a:hover {
  color: #f00;
}

.todos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.todos-input input {
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}

.todos-button button {
  padding: 1rem;
  border: 1px solid #333;
  background-color: #fff;
  color: rgb(41, 145, 0);
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.todos-button button:hover {
  background-color: rgb(41, 145, 0);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.todos-container-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.todos-ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.todos-list-item li {
  background-color: #ccc;
  padding: 1rem 2rem;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.todos-list-item-select li {
  /* cover backgrounf */
  background-color: rgb(209, 196, 6);
  transition: all 0.3s ease-in-out;
}

.todos-list-item button {
  background-color: #fff;
  color: #f00;
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.todos-list-item button:hover {
  background-color: #f00;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.quotes p {
  font-size: 20px;
  text-align: center;
}

.completed {
  text-decoration: line-through;
}

.hide-select {
  display: none;
}

.select-button {
  padding: 1rem;
  border: 1px solid #333;
  background-color: #fff;
  color: rgb(209, 196, 6);
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.select-button:hover {
  background-color: rgb(209, 196, 6);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.check-box {
  padding: 0.5rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.select-single {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* media query */
@media screen and (max-width: 1450px) {
  .todos-ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .todos-ul {
    grid-template-columns: 1fr;
  }
}